* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

table {
    table-layout: fixed;
    width: 100%;
    /* border-collapse: collapse; */
    font-size: medium;
    font-weight: 100;
    width: 500px;
    border-radius: 0.4em;


}

table,
th,
td {
    border: none;
    padding: 5px;
    margin: 5px;
}

td {
   
    border-bottom: 1px solid #787f871c ;
}
.id {
    width: 40px;
    text-align: start;
    border-right: 1px solid #787f871c ;
}

.textHeader {
    text-align: start;
}

.selected {
    background-color: #e84b4b;
    color: aliceblue;
    border-radius: 4px;
}

.main {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.btn {
    padding: 0.5em 1.5em;
    background-color: white;
    font-size: 20px;
    text-transform: uppercase;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 0.4em;
    width: 500px;
    height: 100px;
}

.btn:hover {
    color: white;
    background-color: #2196f3;
}

.hidden {
    display: none;
}
